* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  justify-self: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(254, 254, 255);
}
header {
  top: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5rem;
  background-color: rgb(2, 12, 20);
  font-family: "Poppins", sans-serif;
}

.logo {
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.logo span {
  color: rgb(6, 179, 92);
  font-family: "Courier New", Courier, monospace;
}

.logo :hover {
  cursor: pointer;
}

.nav-link {
  margin: 0;
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-link li {
  padding: 26px;
  margin: 0;
  text-align: center;
  list-style: none;
}
.nav-link a {
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 3px;
}
.nav-link li:hover {
  background-color: rgb(6, 179, 92);
}
.sb {
  padding: 20px;
  margin: 0;
  text-align: center;
  list-style: none;
}
.searchbar {
  padding: 10px 60px;
  border-radius: 10px;
  outline: 0;
}
.button {
  background: rgb(6, 179, 92);
  padding: 10px 50px;
  margin: 2px;
  border: none;
  outline: 0;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 10px;
}

footer {
  width: 100%;
  bottom: 0;
  color: #fff;
  background: rgb(2, 12, 20);
  padding: 100px 0 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  line-height: 20px;
  padding: 0;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  width: 300px;
  flex-shrink: 10%;
  padding: 10px;
}

.col h2 {
  text-transform: uppercase;
  width: fit-content;
  margin-bottom: 40px;
  padding-bottom: 2px;
}

.col li {
  background: #fff;
  width: 150px;
  height: 40px;
  display: flex;
  border-radius: 27.5px;
}

.col li input {
  flex: 1;
  border: 10;
  outline: 0;
  border-radius: 27.5px;
}

.col input {
  background: #fff;
  padding: 10;
  outline: 0;
  width: 200px;
  height: 40px;
  display: flex;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
.col textarea {
  background: #fff;
  outline: 0;
  padding: 8;
  width: 250px;
  height: 60px;
  display: flex;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.col button {
  background: rgb(6, 179, 92);
  padding: 10px 50px;

  border: none;
  outline: 0;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 10px;
}

.section {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 105x;
  overflow: hidden;
}

.slide {
  width: 500%;
  height: 500px;
  display: flex;
}

.slide input {
  display: none;
}

.st {
  width: 20%;
  transition: 2s;
}

.st img {
  width: 800px;
  height: 500px;
}

.nav-m {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  justify-content: center;
  display: flex;
}

.m-btn {
  border: 2px solid grey;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.m-btn:not(last-child) {
  margin-right: 30px;
}
.m-btn:hover {
  background-color: grey;
}
#radio1: checked;
