* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(2, 12, 20);
  font-family: "Poppins", sans-serif;
}

.logo {
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav_links {
  display: flex;

  justify-content: space-around;
  width: 30%;
}
.nav_links li {
  list-style: none;
}

.nav_links a {
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

form {
  background: #fff;
  width: 500px;
  height: 40px;
  display: flex;
  border-radius: 10px;
}
form input {
  flex: 1;
  border: 0;
  outline: 0;
  border-radius: 27.5px;
}
form button {
  background: rgb(61, 88, 241);
  padding: 10px 50px;

  border: none;
  outline: 0;
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 10px;
}
form .fa-solid {
  align-self: center;
  padding: 10px 20px;
  color: #777;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #fff;
  background: rgb(2, 12, 20);
  padding: 100px 0 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  line-height: 20px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  width: 300px;
  flex-shrink: 10%;
  padding: 10px;
}

.col .h2 {
  width: fit-content;
  margin-bottom: 40px;
}

.col form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

.col .form .far {
  font-size: 18px;
  margin-right: 10px;
}
